/* reset css */
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
button[disabled] {
  pointer-events: none;
}
input {
  padding: 0;
}
input:required {
  box-shadow: none;
}
input:invalid {
  box-shadow: none;
}

/* 常用顏色、尺寸設定 */
$body-bg: #fff;
$body-color: #18253d;
$footer-bg: #E5E5E5;
$main-blue: #001935;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #4a4a4a;
$light-gray: #a7aaaf;
$button-pink: #F67599;
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

/* 間距、陰影設定 */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
  $spacer * 0.25
  ),
  2: (
  $spacer * 0.5
  ),
  3: (
  $spacer * 0.75
  ),
  4: $spacer,
  5: (
  $spacer * 1.25
  ),
  6: (
  $spacer * 1.5
  ),
  7: (
  $spacer * 1.75
  ),
  8: (
  $spacer * 2
  )
);
%standard-boxshadow {
  box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}

/* 全域基本設定 */
html {
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
  background: $body-bg;
  color: $body-color;
}

/* display style設定 */
.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}


/* flex屬性設定 */
.flex-column {
  flex-direction: column;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-content-start {
  align-content: flex-start;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}

/* 文字內容對齊設定 */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

/* 鼠標點擊設定 */
.cursor-pointer {
  cursor: pointer;
}


/*手機版開始*/
.container {
  width: 91%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 56px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__logo-wrapper {
    width: 135.86px;
    height: 24px;
  }
  &__nav {
    position: absolute;
    top: 100%;
    width: 100%;
    background: #ffffff;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.4s ease-out;
    &__item {
      display:block;
      opacity: 0;
      padding: 24px 0px;
      margin: 0px 14.5px;
      border-bottom: 2px solid lightgray;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  border: solid blue 1px;
  &__left-content {
    display: flex;
    flex-direction: column;
    border: solid green 1px;
    &__check {
      margin: 16px auto 24px 0;
    }
  }
  &__right-content {
    display: flex;
    flex-direction: column;
    border: solid tomato 1px;
  }
}

.footer {
  background-color: $footer-bg;
  display: none;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle:checked ~ .header__nav {
  transform: scale(1, 1);
  .header__nav__item {
    transition: opacity 0.2s ease-out 0.2s;
    opacity: 1;
  }
}

.navbar-toggle-label {
  position: absolute;
  top: 0;
  bottom:0;
  left: 17px;
  display: flex;
  align-items: center;
}

%hamburger {
  width: 15px;
  height: 3px;
  background: black;
}

.hamburger {
  @extend %hamburger;
  position: relative;
  &::before {
    content: "";
    @extend %hamburger;
    position: absolute;
    left:0;
    bottom:6px;
    width: 20px;
  }
  &::after {
    content: "";
    @extend %hamburger;
    position: absolute;
    left: 0;
    top: 6px;
    width: 10px;
  }
}

div.header__nav__item {
 border: none;
 position: relative;
 display: flex;
 max-width: 150px;
 margin: 0 auto;
 justify-content: space-between;
}

/*stepper*/
@mixin getStepNumber($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .step-circle::after {
      content: "#{$i}";
      position: absolute;
      top: 3px;
      left: 10px
    } 
  }
}

.stepper-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include getStepNumber(3);
  text-align: center;
  position: relative;
}

.step-circle {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: solid 1px $light-gray;
  position: relative;
  &.active{
  background-color: black;
  color: white;
  border: solid 1px black;
  }
}

.connect-line {
  display: block;
  height: 1px;
  width: 60px;
  background-color: black;
  position: absolute;
  top: 16px;
  right: calc(50% + 48px);
}

.label-container {
  display: none;
}



